.App {
  background-image: url("./img/background.png");
}

.App-header {
  background-color: #1DA72B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: 'Rochester', cursive;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  opacity: 0.6;
}

.App-header img {
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-menu {
  width: 100vw;
  min-width: 15vw;
  max-width: 20vw;
}

.App-dashboard {
  width: 80%;
}
